{{template "base" .}}
{{define "main-title"}}
  <div class="container">
    <h2 class="title">Not Found</h2>
  </div>
{{end}}

{{define "main"}}
  <p>Sorry, but you are trying to access something that doesn't exist.</p>
{{end}}
