{{template "base" .}}
{{define "navbar"}}
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
	<img src="/static/ant.png">
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
	<a class="button is-danger" href="logout">
	  Logout
	</a>
      </div>
    </div>
  </nav>
{{end}}
